<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="{{url_for('play_movie',url = data.url)}}">
    <img src={{ data.url_img }} alt={{ name }}>
</a>
{{ data.url_h2|safe }}
{{ data.url_div|safe }}
{#<h2 class="result_title"><a href="https://v.qq.com/x/cover/fgqtuu38z91hfyw.html" target="_blank" _stat="video:poster_tle"><em class="hl">一出好戏</em><span class="sub">（普通话/原版/2018）</span><span class="type">电影</span></a></h2>#}
{#	 <div class="result_info">#}
{##}
{#		<div class="info_item info_item_odd">#}
{#			<span class="label">别　名：</span>#}
{#			<span class="content">大富翁  诳想曲</span>#}
{#		</div>#}
{##}
{##}
{#		<div class="info_item info_item_even">#}
{#			<span class="label">英文名：</span>#}
{#			<span class="content">The Island</span>#}
{#		</div>#}
{##}
{##}
{##}
{##}
{#		<div class="info_item info_item_odd">#}
{#			<span class="label">导　演：</span>#}
{#			<span class="content"><a href="?q=%E9%BB%84%E6%B8%A4" target="_blank" _stat="video:poster_v_导演">黄渤</a></span>#}
{#		</div>#}
{##}
{##}
{#		<div class="info_item info_item_even">#}
{#			<span class="label">主　演：</span>#}
{#			<span class="content"><a href="?q=%E9%BB%84%E6%B8%A4" target="_blank" _stat="video:poster_v_主演">黄渤</a> <a href="?q=%E8%88%92%E6%B7%87" target="_blank" _stat="video:poster_v_主演">舒淇</a> <a href="?q=%E7%8E%8B%E5%AE%9D%E5%BC%BA" target="_blank" _stat="video:poster_v_主演">王宝强</a> <a href="?q=%E5%BC%A0%E8%89%BA%E5%85%B4" target="_blank" _stat="video:poster_v_主演">张艺兴</a> <a href="?q=%E4%BA%8E%E5%92%8C%E4%BC%9F" target="_blank" _stat="video:poster_v_主演">于和伟</a> <a href="?q=%E7%8E%8B%E8%BF%85" target="_blank" _stat="video:poster_v_主演">王迅</a></span>#}
{#		</div>#}
{##}
{##}
{##}
{##}
{#		<div class="info_item info_item_desc">#}
{#			<span class="label">简　介：</span>#}
{#			<span class="desc_text">　马进欠下债务，与远房表弟小兴在底层社会摸爬滚打，习惯性的买彩票，企图一夜爆富，并迎娶自己的同事姗姗。一日，公司全体员工出海团建，途中，马进收到了彩票中头奖的信息，六千万！就在马进狂喜自己翻身的日子终于到来之际，一场突如其来的滔天巨浪打破了一切。苏醒过来的众人发现身处荒岛，丧失了一切与外界的联系…<a class="desc_more" href="https://v.qq.com/detail/f/fgqtuu38z91hfyw.html" target="_blank" _stat="video:poster_detail">详细<i class="iconfont arrow_right"></i></a></span>#}
{#		</div>#}
{##}
{#	</div>#}

</body>
</html>